/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

/* .raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body {
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #2E2F42;
	font-weight: 400;
	letter-spacing: 0.02em;
}	

button {
	font-family: inherit;
	font-weight: 500;	
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	/* border-radius: 4px; */
	background-color: #4D5AE5;
	cursor: pointer;
}

p {
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: 400;
}

a {
	font-family: inherit;
	color: #000;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.333;
	letter-spacing: 0.04em;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #404bbf; 
}

a:active,
a.link {
	color: #4D5AE5;
}

a:active {
	color: #404BBF;
}

.page-nav .nav-list a:hover,
.page-nav .nav-list a:focus {
	color: #404BBF;
}

nav a {
	padding-bottom: 5px;
}

nav a:active {
	color: #404BBF;
	border-bottom: 4px solid #404BBF;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	color: #2E2F42;
}

.social-list {
	display: flex;
	gap: 40px;
}

.social-list li a {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
	padding-top: 24px;
	padding-bottom: 24px;
	display: block;
}

.social-list li a:hover,
.social-list li a:focus {
	color: #404BBF;
}

h1 {
	font-family: inherit;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.0714;
	letter-spacing: 0.02em;
}

h2 {
	font-family: inherit;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.02em;
	text-align: center;
}

h3 {
	font-family: inherit;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.02em;
}

.background-navy-blue {
	background-color: #2E2F42;
}

.color-navy-blue {
	color: #2E2F42;
}

.color-slate {
	color: #434455;
}

button {
	border-radius: 4px;
	border: none;
	cursor: pointer;
	padding: 16px 32px;
	background-color: #4D5AE5;
	color: #ffffff;
}

button:hover,
button:focus {
	background-color: #404BBF;
}

.center {
	text-align: center;
}

.container {
	max-width: 1158px;
	margin: 0 auto;
	padding: 0 15px;
	/* padding-top: 120px;
	padding-bottom: 120px; */
}

.header-container {
	max-width: 1158px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;

}

.accent-blue {
  color: #4D5AE5;
}

/* header */

.page-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	line-height: 1.17;
	text-transform: uppercase;
	color: #2E2F42;
	text-decoration: none;
	font-size:  18px;
	font-weight: bold;
	padding-top: 24px;
	padding-bottom: 24px;
	display: block;
	letter-spacing: 0.03em;
	margin-right: 76px;
	margin-bottom: 16px;
}

.page-header {
	border-bottom: 1px solid #E7E9FC;
}

.page-header .container {
	display: flex;
	padding: 0;
}


.page-nav .nav-list {
	display: flex;
	gap: 40px;
}

.page-nav .nav-list  .nav-list-item {
	padding-bottom: 24px;
	padding-top: 24px;
}

.page-nav .nav-list a {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: medium;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color:#2E2F42;
	padding: 24px 0;
}

address {
	margin-left: auto;
	font-style: normal;
}

/* end header */


.visually-hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* hero block */

.main-header {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-align:center;
	line-height: 1.07;
	letter-spacing: 0.02em;
	width: 496px;
	margin: 0 auto;
	font-size: 56px;
	margin-bottom: 48px;
	/* padding-top: 188px; */
}

.main-banner-hero {
	padding-top: 188px;
	padding-bottom: 188px;
}

.button-section {
	text-align: center;
}

button.hero-button {
	font-family: inherit;
	font-weight: 500;	
	font-size: 16px;
	line-height: 1.5;
	letter-spacing:  0.04em;
	/* border-radius: 4px; */
	background-color: #4D5AE5;
	cursor: pointer;
	/* margin-bottom: 188px; */
}

/* end hero block */

/* feature block */

.features-section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.features-title {
	text-align: left;
    font-size: 20px;
    letter-spacing: 0.02em;
	margin-bottom: 8px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	line-height: 1.2;
	color: #2e2f42;
}

ul.features-list {
	display: flex;
	/* gap: 24px;
	justify-content: space-between; */
}

.features-list-item {
	/* padding-right: 24px; */
	margin-right: 24px;
	width: 256px;
}

.features-list-item:last-child {
	margin-right: 0;
}

p.feature-text {
	color: #434455;

}

/* end feature block */

/* team-section */

section.team-block {
	background: #F4F4FD;
	padding-top: 120px;
	padding-bottom: 120px;
}

.team-area {
	padding: 32px 16px;
}

.team-area h3 {
	margin-bottom: 8px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2e2f42;
}

.team-text {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	color: #434455;
}
 
.team-title {
	/* padding-top: 120px; */
	margin-bottom: 72px;
}

section.team-block ul {
	display: flex;
	/* justify-content: space-between;
	gap: 24px; */
}

section.team-block ul li {
	background: #FFFFFF;
	width: 264px;
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
              0px 1px 1px rgba(46, 47, 66, 0.16),
              0px 2px 1px rgba(46, 47, 66, 0.08);
	margin-right: 24px; 

	/* border: 1px solid #E0E0E0;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05); */
	/* border-radius: 8px; */
	/* text-align: center; */
	/* overflow: hidden */
}

section.team-block ul li:last-child {
	margin-right: 0;
}

section.team-block ul li img {
	display: block;
}

/* end-team-section */

/* portfolio */

.portfolio-section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.portfolio-title {
	margin-bottom: 72px;
}

.portfolio-list {
	display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
  	column-gap: 24px; /* між колонками */
  	row-gap: 48px;    /* між рядками */
}

li.portfolio-list-item {
	/* padding-bottom: 48px; */
}

li.portfolio-list-item img {
	display: block;
}

.portfolio-area {
	padding: 32px 16px;
	border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-area .portfolio-item-title {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
	margin-bottom: 8px;
}

.portfolio-area .portfolio-item-type {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

/* end portfolio */

/* footer */

.footer-area {
	padding: 100px 0;
}	

.footer-content a.logo-link{
	color: #F4F4FD;
	text-decoration: none;
    padding-top: 0;
    display: block;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.16667;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.footer-content p.footer-info {
	color: #F4F4FD;
	/* padding-bottom: 100px; */
	padding-top: 16px;
}

p.footer-info {
	width: 264px;
}

/* end footer */